body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background-color:blanchedalmond ;
    color: black;
    text-align: center;
}

h1, h2 {
    margin: 0.5rem 0;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-left: 5px solid #333;
}

